

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.azul{
  color: grey;
}


.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.img{
  width: 100%;
}





h1,h2,h3{
  text-align: center;
}
h3{
  color: gray;
}
.ast{
  color: red;
}
.formulario{
    width: 400px;
    padding: 30px;
    border:1px solid #ccc;
}
.formulario p{
    width: 100%;
    font-size: 1.5em;
}
.field{
    width: 100%;
    margin: 15px 0;
}
.field label, 
.field span{
    padding-left: 10px;
    font-size: 1.1em;
    display: block;
    width: 100%;
}
.radiobox label{
    width: auto;
    display: inline-block;
}
input[type=text],
input[type=number],
input[type=email],
textarea{
    width: 100%;
    padding-left: 10px;
    height: 50px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #9A9A9A;
    outline: none;
}
input#nao{
    margin-left: 30px;
}
textarea{
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
}
input[type=submit]{
    display: block;
    background-color: #ccc;
    height: 50px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}

input[value=Enviar]{
  font-size: 14pt;
}